{
  "parserOptions": {
    "ecmaVersion": 5
  },
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-base/legacy",
    "angular"
  ],
  "plugins": [
    "jsdoc"
  ],
  "rules": {
    "func-names": ["error", "never"],
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "require-jsdoc": 2,
    "valid-jsdoc": 2,
    "jsdoc/check-param-names": 1,
    "jsdoc/check-tag-names": 1,
    "jsdoc/check-types": 1,
    "jsdoc/newline-after-description": 1,
    "jsdoc/require-description-complete-sentence": 1,
    "jsdoc/require-param": 1,
    "jsdoc/require-param-description": 1,
    "jsdoc/require-param-type": 1,
    "jsdoc/require-returns-type": 1
  }
}
